# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore Application
      run: dotnet restore src/ForgeFit.Application/ForgeFit.Application.csproj
    - name: Restore Infrastructure
      run: dotnet restore src/ForgeFit.Infrastructure/ForgeFit.Infrastructure.csproj
    - name: Restore Domain
      run: dotnet restore src/ForgeFit.Domain/ForgeFit.Domain.csproj
      
    - name: Build Application
      run: dotnet build src/ForgeFit.Application/ForgeFit.Application.csproj --no-restore -c Release
    - name: Build Infrastructure
      run: dotnet build src/ForgeFit.Infrastructure/ForgeFit.Infrastructure.csproj --no-restore -c Release
    - name: Build Domain
      run: dotnet build src/ForgeFit.Domain/ForgeFit.Domain.csproj --no-restore -c Release

    - name: Test
      run: dotnet test --no-build --verbosity normal
